<!DOCTYPE html>
<html>
  <head>
  <link rel="icon" type="image/png" sizes="34x34" href="/assets/anviam.png">
    <title>Anviam Solutions</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <%= render "layouts/navbar" %>
      <%= render 'shared/super_admin_dashboard/sidebar' %>
      <div class="content-wrapper">
        <div class="container-fluid">
         <div id="successMessage">
         <% if notice %>
         <p class="alert alert-success"><%= notice %></p>
         <% end %>
         <% if alert %>
         <p class="alert alert-danger"><%= alert %></p>
         <% end %>
       </div>
         </div>
        <%= yield %>
      </div>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>